<ng-content select="app-navbar"></ng-content>
<nav class="navbar  " style="background-color: #232f3e;">
  <div class="container-fluid">
    <button class="navbar-toggler" style="background-color: antiquewhite;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="offcanvas offcanvas-start "  tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Categories</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body p-0" style="overflow: visible;">
        <ul class="navbar-nav row w-100 ps-5">
          <!----------------------------------------->
          <li class="nav-item col-12 dropend w-100 pe-0">
            <div class="btn-group col-12 dropend position-relative">
              <div type="button" (click)="dropendClicked()"  class="btn btn-light col-12 row">
                <div class="col-7 d-inline"> Split dropend </div>
                <div class="col-1 float-end" > <i class="bi bi-caret-right"></i></div>
              </div>
              <ul class="dropdown-menu position-absolute col-12 ms-2" [ngClass]="isPopperStatic ? 'show':null" [attr.data-bs-popper]="isPopperStatic ? 'static' : null">
                <div class="list-group">
                  <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
                    The current button
                  </button>
                  <button type="button" class="list-group-item list-group-item-action">A second button item</button>
                  <button type="button" class="list-group-item list-group-item-action">A third button item</button>
                  <button type="button" class="list-group-item list-group-item-action">A fourth button item</button>
                  <button type="button" class="list-group-item list-group-item-action" disabled>A disabled button item</button>
                </div>
              </ul>
            </div>
            
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>

    </div>
  </div>
</nav>