<ng-content select="app-carousel" class="col-12 bg-body-secondary"></ng-content>
<div class="container-fluid ">
    <div class="container-fluid row m-4">
        <h1 class=" col-2 ms-1">Gift</h1>
        <ul class="nav  col-9 fs-3 column justify-content-around ">
            <li class="nav-item ">
              <a class="nav-link active" aria-current="page" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </li>
          </ul>
    </div>

    <div class="container-fluid d-flex flex-row justify-content-center" style="height: 800px;">
		<div class="">
			<img src="../../assets/pexels-monstera-production-5708969.jpg" height="800px" width="500px"  alt="../../assets/pexels-monstera-production-5708969.jpg">
		</div>
		<div class=" d-flex flex-column ms-4">
			<img src="https://images.pexels.com/photos/1303086/pexels-photo-1303086.jpeg?auto=compress&cs=tinysrgb&w=600" class="mb-3" height="350px" width="500px"  alt="../../assets/pexels-monstera-production-5708969.jpg">
			<img src="https://images.pexels.com/photos/1910472/pexels-photo-1910472.jpeg?auto=compress&cs=tinysrgb&w=600" height="100%" width="500px"  alt="../../assets/pexels-monstera-production-5708969.jpg">
		</div>
    </div>
</div>
<hr>
<ng-content select="app-list-carousel"></ng-content>

